body {
  background: linear-gradient(#000000, #93d0d8);
  height: 100vh;
  margin: 0;
  color: aliceblue;
}

.container {
  margin-left: 40%;
  position: absolute;
}

img {
  margin-right: 10px;
}

.btn {
  background-color: #05b1cc;

  display: flex;
}

.submit-container {
  display: flex;
  margin-left: 10px;
}
.loginsignup-container {
  display: flex;
  margin: 20px;
}
